body {
    background-image: url("../images/show.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Times New Roman', serif;
}

.book-card {
    background-color: #fdf6e3;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    position: relative;
    border: 1px solid #ccc;
}

.book-card::before {
    content: "";
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #fdf6e3 transparent;
}

h1,
h4 {
    font-family: 'Georgia', serif;
}

pre {
    white-space: pre-wrap;
    font-family: 'Georgia', serif;
}